<div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="80">
        <h4>Create Product</h4>
        <form [formGroup]="productForm" (submit)="onSubmit($event)">

            
            <mat-form-field class="example-full-width" fxFlexFill>
                <mat-label>Title</mat-label>
                <input type="text" matInput formControlName="title" placeholder="Enter title here">
                <mat-error *ngIf="productForm.get('title')?.errors?.['required']">
                    Title is required
                </mat-error>
                <mat-error *ngIf="productForm.get('title')?.errors?.['minlength']">
                    Title should be 5 char
                </mat-error>
            </mat-form-field>


            <mat-form-field class="example-full-width" fxFlexFill>
                <mat-label>Description</mat-label>
                <input type="text" matInput formControlName="description" placeholder="Enter description here">
                <mat-error *ngIf="productForm.get('description')?.errors?.['required']">
                    description is required
                </mat-error>
            </mat-form-field>


            <mat-form-field class="example-full-width" fxFlexFill>
                <mat-label>Price</mat-label>
                <input type="text" appOnlyNumbers matInput formControlName="price" placeholder="Enter description here">
                <mat-error *ngIf="productForm.get('price')?.errors?.['required']">
                    price is required
                </mat-error>
            </mat-form-field>


            <mat-form-field class="example-full-width" fxFlexFill>
                <mat-label>Image</mat-label>
                <input type="text" matInput formControlName="image" placeholder="Enter Image here">
                <mat-error *ngIf="productForm.get('image')?.errors?.['required']">
                    Image is required
                </mat-error>
            </mat-form-field>


            <div fxLayout="row" fxLayoutAlign="end center" fxFlexFill>
                <button mat-raised-button type="submit" color="primary">Submit</button>

            </div>

        </form>
    </div>

</div>