
<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="20px" >
<mat-card *ngFor="let product of products" class="product-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{product.title}}</mat-card-title>
      <!-- <mat-card-subtitle>{{ formatPrice(product.price)}}</mat-card-subtitle> -->
      <mat-card-subtitle>{{ product.price | formateCurrency:"₹ "}}</mat-card-subtitle>
    </mat-card-header>
    
    <!-- <img mat-card-image src="{{product.image}}" class="image-title" alt="Photo of a Shiba Inu"> -->
    <img mat-card-image [src]="product.image" class="image-title" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{product.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
        <!-- <app-button-icon icon="favorite" *ngIf="product.selected" (iconClicked)="toggleProductSelection($event, product)"></app-button-icon>
        <app-button-icon icon="favorite_outlined" *ngIf="!product.selected" (iconClicked)="toggleProductSelection($event, product)"></app-button-icon>
       -->
       <app-button-icon [icon]="selectionIcon(product)" (iconClicked)="toggleProductSelection($event, product
       )"></app-button-icon>
       <app-button-icon icon="edit" (iconClicked)="onEditClicked($event, product)"></app-button-icon>
       <!-- <app-button-icon icon="delete" (iconClicked)="onDeleteClicked($event, product)"></app-button-icon> -->
    </mat-card-actions>
  </mat-card>
</div>
  